In [20]:
import pandas as pd

In [21]:
login_data = pd.read_csv('C:/Users/10920/Desktop/login_data.csv')
login_data

                 login_at   id
0     2020-07-01 00:03:46  183
1     2020-07-01 00:05:07  259
2     2020-07-01 00:08:58   21
3     2020-07-01 00:20:37  305
4     2020-07-01 00:24:43  216
5     2020-07-01 00:42:44  279
6     2020-07-01 00:45:17   34
7     2020-07-01 00:55:25  388
8     2020-07-01 01:17:50  321
9     2020-07-01 01:26:50  245
10    2020-07-01 01:30:01  381
11    2020-07-01 01:51:13  223
12    2020-07-01 01:51:45  252
13    2020-07-01 01:51:52  157
14    2020-07-01 02:04:26  193
15    2020-07-01 02:05:49  496
16    2020-07-01 02:08:39  498
17    2020-07-01 02:17:18  177
18    2020-07-01 02:21:46  379
19    2020-07-01 02:24:54  324
20    2020-07-01 02:34:40  272
21    2020-07-01 02:43:18  411
22    2020-07-01 02:50:05  134
23    2020-07-01 02:51:13  456
24    2020-07-01 02:56:31  395
25    2020-07-01 02:59:05   27
26    2020-07-01 03:05:02   19
27    2020-07-01 03:07:38   42
28    2020-07-01 03:45:29  469
29    2020-07-01 03:57:43    8
...                   ...  ...
4970  2020-07-31 19:47:00  166
4971  2020-07-31 19:52:17  181
4972  2020-07-31 20:06:27  447
4973  2020-07-31 20:06:32  164
4974  2020-07-31 20:27:44  406
4975  2020-07-31 20:31:33  289
4976  2020-07-31 20:38:15  173
4977  2020-07-31 20:38:43  332
4978  2020-07-31 20:45:00  268
4979  2020-07-31 20:46:48  144
4980  2020-07-31 21:05:18   29
4981  2020-07-31 21:08:19  192
4982  2020-07-31 21:19:17  170
4983  2020-07-31 21:27:33  402
4984  2020-07-31 21:34:26   12
4985  2020-07-31 21:39:00  268
4986  2020-07-31 21:43:54  417
4987  2020-07-31 22:00:26  370
4988  2020-07-31 22:15:32  225
4989  2020-07-31 22:22:41  143
4990  2020-07-31 22:35:36  383
4991  2020-07-31 22:47:31  228
4992  2020-07-31 23:25:11  200
4993  2020-07-31 23:25:38  181
4994  2020-07-31 23:30:31   74
4995  2020-07-31 23:36:02   27
4996  2020-07-31 23:36:04  121
4997  2020-07-31 23:38:44  367
4998  2020-07-31 23:48:33  383
4999  2020-07-31 23:56:55  203

[5000 rows x 2 columns]

### 需求1：创建一列，根据国内的法定假期规定，从登录时间确定当天是否是工作日

In [22]:
# 数据集中的日期是从2020/7/1至2020/7/31，其中只有周末是休息日，无假期日
# 转成datetime格式
login_data['login_at'] = pd.to_datetime(login_data['login_at'])
# 星期一到星期天为 0-6
login_data['dayofweek'] = login_data['login_at'].dt.dayofweek 
# 创建新列is_work_day，1表示工作日，0表示休息日
login_data['is_work_day'] = login_data.dayofweek.apply(lambda x: 0 if x==6 or x==5 else 1)
login_data

                login_at   id  dayofweek  is_work_day
0    2020-07-01 00:03:46  183          2            1
1    2020-07-01 00:05:07  259          2            1
2    2020-07-01 00:08:58   21          2            1
3    2020-07-01 00:20:37  305          2            1
4    2020-07-01 00:24:43  216          2            1
5    2020-07-01 00:42:44  279          2            1
6    2020-07-01 00:45:17   34          2            1
7    2020-07-01 00:55:25  388          2            1
8    2020-07-01 01:17:50  321          2            1
9    2020-07-01 01:26:50  245          2            1
10   2020-07-01 01:30:01  381          2            1
11   2020-07-01 01:51:13  223          2            1
12   2020-07-01 01:51:45  252          2            1
13   2020-07-01 01:51:52  157          2            1
14   2020-07-01 02:04:26  193          2            1
15   2020-07-01 02:05:49  496          2            1
16   2020-07-01 02:08:39  498          2            1
17   2020-07-01 02:17:18  177          2            1
18   2020-07-01 02:21:46  379          2            1
19   2020-07-01 02:24:54  324          2            1
20   2020-07-01 02:34:40  272          2            1
21   2020-07-01 02:43:18  411          2            1
22   2020-07-01 02:50:05  134          2            1
23   2020-07-01 02:51:13  456          2            1
24   2020-07-01 02:56:31  395          2            1
25   2020-07-01 02:59:05   27          2            1
26   2020-07-01 03:05:02   19          2            1
27   2020-07-01 03:07:38   42          2            1
28   2020-07-01 03:45:29  469          2            1
29   2020-07-01 03:57:43    8          2            1
...                  ...  ...        ...          ...
4970 2020-07-31 19:47:00  166          4            1
4971 2020-07-31 19:52:17  181          4            1
4972 2020-07-31 20:06:27  447          4            1
4973 2020-07-31 20:06:32  164          4            1
4974 2020-07-31 20:27:44  406          4            1
4975 2020-07-31 20:31:33  289          4            1
4976 2020-07-31 20:38:15  173          4            1
4977 2020-07-31 20:38:43  332          4            1
4978 2020-07-31 20:45:00  268          4            1
4979 2020-07-31 20:46:48  144          4            1
4980 2020-07-31 21:05:18   29          4            1
4981 2020-07-31 21:08:19  192          4            1
4982 2020-07-31 21:19:17  170          4            1
4983 2020-07-31 21:27:33  402          4            1
4984 2020-07-31 21:34:26   12          4            1
4985 2020-07-31 21:39:00  268          4            1
4986 2020-07-31 21:43:54  417          4            1
4987 2020-07-31 22:00:26  370          4            1
4988 2020-07-31 22:15:32  225          4            1
4989 2020-07-31 22:22:41  143          4            1
4990 2020-07-31 22:35:36  383          4            1
4991 2020-07-31 22:47:31  228          4            1
4992 2020-07-31 23:25:11  200          4            1
4993 2020-07-31 23:25:38  181          4            1
4994 2020-07-31 23:30:31   74          4            1
4995 2020-07-31 23:36:02   27          4            1
4996 2020-07-31 23:36:04  121          4            1
4997 2020-07-31 23:38:44  367          4            1
4998 2020-07-31 23:48:33  383          4            1
4999 2020-07-31 23:56:55  203          4            1

[5000 rows x 4 columns]

### 需求2：统计节假日的平均每日独立登录用户数，工作日的平均每日独立登录用户数

In [23]:
login_data['login_at'] = login_data['login_at'].dt.date

        login_at   id  dayofweek  is_work_day
0     2020-07-01  183          2            1
1     2020-07-01  259          2            1
2     2020-07-01   21          2            1
3     2020-07-01  305          2            1
4     2020-07-01  216          2            1
5     2020-07-01  279          2            1
6     2020-07-01   34          2            1
7     2020-07-01  388          2            1
8     2020-07-01  321          2            1
9     2020-07-01  245          2            1
10    2020-07-01  381          2            1
11    2020-07-01  223          2            1
12    2020-07-01  252          2            1
13    2020-07-01  157          2            1
14    2020-07-01  193          2            1
15    2020-07-01  496          2            1
16    2020-07-01  498          2            1
17    2020-07-01  177          2            1
18    2020-07-01  379          2            1
19    2020-07-01  324          2            1
20    2020-07-01  272          2            1
21    2020-07-01  411          2            1
22    2020-07-01  134          2            1
23    2020-07-01  456          2            1
24    2020-07-01  395          2            1
25    2020-07-01   27          2            1
26    2020-07-01   19          2            1
27    2020-07-01   42          2            1
28    2020-07-01  469          2            1
29    2020-07-01    8          2            1
...          ...  ...        ...          ...
4970  2020-07-31  166          4            1
4971  2020-07-31  181          4            1
4972  2020-07-31  447          4            1
4973  2020-07-31  164          4            1
4974  2020-07-31  406          4            1
4975  2020-07-31  289          4            1
4976  2020-07-31  173          4            1
4977  2020-07-31  332          4            1
4978  2020-07-31  268          4            1
4979  2020-07-31  144          4            1
4980  2020-07-31   29          4            1
4981  2020-07-31  192          4            1
4982  2020-07-31  170          4            1
4983  2020-07-31  402          4            1
4984  2020-07-31   12          4            1
4985  2020-07-31  268          4            1
4986  2020-07-31  417          4            1
4987  2020-07-31  370          4            1
4988  2020-07-31  225          4            1
4989  2020-07-31  143          4            1
4990  2020-07-31  383          4            1
4991  2020-07-31  228          4            1
4992  2020-07-31  200          4            1
4993  2020-07-31  181          4            1
4994  2020-07-31   74          4            1
4995  2020-07-31   27          4            1
4996  2020-07-31  121          4            1
4997  2020-07-31  367          4            1
4998  2020-07-31  383          4            1
4999  2020-07-31  203          4            1

[5000 rows x 4 columns]

In [28]:
login_date1 = login_data.groupby('login_at').agg({'id':pd.Series.nunique, 'is_work_day':'mean'}).rename(columns={"id": "id_cnt"})
login_date_res = login_date1.groupby('is_work_day').agg({'id_cnt':'mean'}).rename(columns={"id_cnt": "id_cnt_avg"})

             id_cnt_avg
is_work_day
0            136.375000
1            137.478261

#### 从结果中可以看出，节假日的平均每日独立登录用户数为136.375，工作日的平均每日独立登录用户数为137.478261